@media (min-width: 768px) {
    .infor__location__bunner__center p, .container__description__product p {
        font-size: 18px;
    }

    .bunner__header__p__mobile {
        display: none;
    }

    .bunner__header__p__descktop {
        display: flex;
        
    }

    .container__infor__bunner__header {
        align-items: center;
        justify-content: center;

        height: auto;
        width: auto;
    }
    .container__infor__bunner__header h1{
        flex-direction: row;
        font-size: 70px;

        margin-bottom: 12px;
    }
    .container__infor__bunner__header p {
        font-size: 25px;

        letter-spacing: 30%;
        line-height: 100%;
    }

    .container__infor__bunner__header p:last-child {
        font-size: 60px;
     }
}


@media (min-width: 1170px) {
    .sale__ad {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    /* header */
    .header__contaiener__mobile{
        display: none;
    }
    .header__contaiener{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: auto;

        padding: 17px 100px;
    }
    .desktop__container {

        display: flex;
        flex-direction: column;

        gap: 23px;
    }
    .section__seach {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .sub__section__search {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 65px;
    }

    .sub__section__search__logo {
        width: 152px; 
        height: 27px;
    }

    .section__nav{
        position: relative;
        display: flex;

    }
  
    .list__nav {
        display: flex;
        align-items: center;
        justify-content:space-between;

        width: 100%;

        font-weight: 400;
        font-size: 14px;
        font-family: Nunito Sans;

        gap: 45px;
    }

    .list__nav li:hover {
        color: #005cff;
    }
    .list__nav button {
        all: unset;
    
        display: flex;
        align-items: center;

        white-space: nowrap;
    
        gap: 8px;
    }
    .icon__menu {
       font-size: 25px;
    }
    .categorie__nav{
        font-weight: 700;
    }

    .section__navbar__menu {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease;
    
        position: absolute;
        display: none;
        top: 38px;
    
        width: 234px;
        height: 329px;
    
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    .container__cards__init {
        width: 100%;
        padding: 0 315px;

        margin: 96px 0;
    }

    .container__cards__end {
        display: flex;

        width: 100%;
        padding: 0 315px;

        margin: 96px 0;
    }

    .container__featured__products {
        align-items: center;
        justify-content: center;
        flex-direction: row;

        margin-bottom: 65px;

        padding: 0 20px;
    }

    .container__features__products__img{
        width: 652px;
        height: 747px;
    }

    .container__description__product {
        width: 525px;
    }

    .container__description__product h1 {
        font-weight: 700;
        font-size: 30px;
    }

    .container__infor__product__hero__bunner {
        flex-direction: row-reverse;

        width: 1177px;
        height: 728px;
    }

    .image__products__hero__bunner {
        display: none;
    }
    .image__products__hero__bunner__descktop {
        display: flex;

        width: 652px;
        height: 728px;
    }

    .container__section__herocontact {
        display: flex;
    }

    .image__herocontact__mobile {
        display: none;
    }
    
    .container__span__text {
        height: 132px;
        font-size: 30px;
        font-weight: 400;
    }

    .container__newsletter{
        width: 1260px;
        height: 176px;
    }
    .container__form {
        flex-direction: row;
        height: 176px;
    }
    .input__name,
    .input__email {
        width: 280px;
    }
    .button__newsletter {
        width: 121px;
    }

    /* header */
    .heder__section__01 {
        flex-direction: row;
        width: 1160px;
    }
    .footer__nav{
        flex-direction: row;
    }
    .footer__container__nav{
        border: none;
    }
    .footer__accordion img{
        display: none;
    }
    .nenu__accordion {
        max-height: 500px;
    }
    .footer__container__business__partners p {
        width: 1074px;
    }
}

@media (min-width: 1540px) {
   
    .bunner__header__imagem{
        padding-right: 399px;
    }
}