/* Notebook (769px até 1280px) */
@media (min-width: 1024px) and (max-width: 1399px) {
    .header__contaiener__mobile {
        display: none;
    }
    body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        width: 100vw;
        min-height: 100vh;
        overflow-x: hidden;
    }
    .header__contaiener{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        padding: 17px 325px 18px 330px;
        
        height: 118px;
        width: 100%;
    
        gap: 22px;
    
    }
}


/* Desktop grande (acima de 1280px) */
@media (min-width: 1281px) {
    .header__contaiener__mobile {
        display: none;
    }
    body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        width: 100vw;
        min-height: 100vh;
        overflow-x: hidden;
    }
    .header__contaiener{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        padding: 17px 325px 18px 330px;
        
        height: 118px;
        width: 100%;
    
        gap: 22px;
    
    }

}

@media (min-width: 768px) {
    
}