@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;

    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */   
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}
li {    width: 358px;

    list-style: none;
    cursor: pointer;
}
.sale__ad{
    display: none;
    width: 100%;
    align-items: center;
    justify-content: center;

    height: 30px;
    gap: 4px;

    background-color: #005cff;
    color: #ffff;

    font-family: Nunito Sans;
    font-weight: 700;
    font-size: 14px;
}
.span__value{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #6220c1;
    width: 63px;
    height: 16px;
}
.span__ad {
    font-weight: 400;
}
.bunner__header__imagem {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: 100%;
    height: 390px;

    background-image: url("/src/assets/bunner__header.svg");
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-size: cover;

    z-index: -1;

    padding: 41px;
}
.container__infor__bunner__header {
    display: flex;
    flex-direction: column;

    width: auto;
    height: auto;

    gap: 12px;

    font-family: Nunito;
  
    color: #000;
}
.container__infor__bunner__header h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 40px;
    line-height: 40px;

    gap: 5px;
}
.container__infor__bunner__header p {
    font-weight: 700;
    font-size: 12px;
 
    color: #005cff;
 }
.container__infor__bunner__header p:last-child {
   font-size: 32px;
}
.container__infor__bunner__header h1 span:nth-child(1) {
    font-weight: 700;
}.container__infor__bunner__header h1 span:nth-child(2) {
    font-weight: 300;
}

.bunner__header__p__descktop {
    display: none;
}

.container__cards__init {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-content: center;
 
     width: 100%;
     /* width: 100%; */
     /* padding: 0 315px; */
     padding: 56px 16px;
 
     /* margin: 96px 0; */

     overflow-x: hidden;
}
.container__cards{
    /* display: flex; */
    display: none;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    width: 100%;
    /* width: 100%; */
    /* padding: 0 315px; */
    padding: 56px 16px;

    /* margin: 96px 0; */
}
.sub__container__cards{
    position: relative;
    
    display: flex;
    flex-direction: column;

    width: 100%;
    height: auto;

    gap: 19px;
}
.arrow-left,
.arrow-rigth,
.arrow-left-init,
.arrow-rigth-init {
    position: absolute;

    width: 30px;
    height: 30px;

    top: 235px;

    cursor: pointer;
}

.arrow-left,
.arrow-left-init{
    left: -15px;
}
.arrow-rigth,
.arrow-rigth-init {
    right: -18px;
}
.container__infor__cards{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: 0 16px;

    font-family: Nunito Suns;
    
    color: #000;
}
.container__infor__cards p:nth-child(1){
    font-size: 20px;
    line-height: 100%;
    font-weight: 700;
}
.container__infor__cards p:nth-child(2){
    font-size: 14px;
    line-height: 20px;

    cursor: pointer;

}

#cards-components,
#cards-components-init {
    display: flex;

    overflow-x: auto;
    scroll-behavior: smooth; 
    
    width: 100%;
    height: auto;

    gap: 17px;

    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE e Edge */
}

/* Chrome, Safari e Opera */
#cards-components::-webkit-scrollbar {
    display: none;
}



/* estilo mobile */

.sale__ad__mobile{
    display: flex;
    flex-direction: column;
    min-width: 100%;
    height: 52px;

    align-items: center;

    background-color: #005cff;
    color: #ffff;

    font-family: Nunito Sans;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
}
.sale__ad__mobile p {
    display: flex;
    align-items: center;
    gap: 4px;
}