@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}
li {
    list-style: none;
    cursor: pointer;
}

.sale__ad{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

    height: 30px;
    gap: 4px;

    background-color: #005cff;
    color: #ffff;

    font-family: Nunito Sans;
    font-weight: 700;
    font-size: 14px;
}
.span__value{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #6220c1;
    width: 63px;
    height: 16px;
}
.span__ad {
    font-weight: 400;
}
.bunner__header__imagem {
    position: relative;

    z-index: -1;
}
.container__cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    width: 100%;    
    padding: 0 315px;

    margin: 96px 0;
}
.sub__container__cards{
    position: relative;
    
    display: flex;
    flex-direction: column;

    width: 1288px;
    height: auto;

    gap: 19px;
}
.arrow-left,
.arrow-rigth,
.arrow-left-init,
.arrow-rigth-init {
    position: absolute;

    width: 30px;
    height: 30px;

    top: 235px;

    cursor: pointer;
}

.arrow-left,
.arrow-left-init{
    left: -15px;
}
.arrow-rigth,
.arrow-rigth-init {
    right: -18px;
}
.container__infor__cards{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: 0 16px;

    font-family: Nunito Suns;
    
    color: #000;
}
.container__infor__cards p:nth-child(1){
    font-size: 20px;
    line-height: 100%;
    font-weight: 700;
}
.container__infor__cards p:nth-child(2){
    font-size: 14px;
    line-height: 20px;

    cursor: pointer;

}

#cards-components,
#cards-components-init {
    display: flex;

    overflow-x: auto;
    scroll-behavior: smooth; 
    
    width: 100%;
    height: auto;

    gap: 17px;

    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE e Edge */
}

/* Chrome, Safari e Opera */
#cards-components::-webkit-scrollbar {
    display: none;
}