.header__contaiener{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 17px 325px 18px 330px;
    
    height: 118px;
    width: 100%;

}
.section__seach {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container__search__header{
    position: relative;
}
.input__search__header {
    width: 594px;
    height: 40px;

    padding: 0 0 0 22px;

    border: 1px solid #dddd;
    border-radius: 10px;
}
.input__search__header:focus {
    border-color: #005cff;
    outline: none;
}

.input__search__header::placeholder{
    font-family: Nunito Sans;
    font-weight: 600;
    font-size: 14px;
    color: black;
}
.search__icon {
    position: absolute;
    width: 18px;
    height: 18px;
    right: 12px;
    top: 25%;
}
.container__client__header{
    display: flex;
    align-items: center;

    gap: 24px;
}
.container__welcome__client{
    display: flex;
    align-items: center;

    gap: 8px;
}
.container__shopping__car{
    position: relative;
    display: flex;

    cursor: pointer;
}
.shopping__car__icon {
    width: 24px;
    height: 24px;
}
.cart__badge {
    position: absolute;
    right: -12px;
    top: -8px;

    display: flex;
    align-items: center;
    width: 21px;
    justify-content: center;
    
    height: 21px;

    background-color: #005cff;
    color: #ffff;

    font-size: 12px;
    font-family: Nunito;
    font-weight: 700;

    border-radius: 50%;
}

/* ----------- */
.section__nav {
    position: relative;
}
.list__nav {
    display: flex;

    gap: 45px;

    font-weight: 400;
    font-size: 14px;
    font-family: Nunito Sans;
}
.list__nav li:hover {
    color: #005cff;
}
.list__nav button {
    all: unset;
}
.categorie__item .icon {
    display: inline-block;
    width: 14px;
    height: 10px;
    background-image: url('/src/assets/icons/categorie__icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
.categorie__item:hover .icon {
    background-image: url('/src/assets/icons/categorie__icon__blue.svg');
}
.span__header{
    display: flex;
}
.categorie__nav{
    font-weight: 700;
}
.span__header{
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 8px;
}

/* css da navbar do menu */

.section__navbar__menu {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;

    position: absolute;
    display: none;
    top: 170%;

    width: 234px;
    height: 329px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
.section__navbar__menu.active {
    display: flex;
    opacity: 1;
    visibility: visible;
}

.submenu__navbar {
    width: 234px;
    height: 329px;
    padding: 17px;

    background-color: #f5f5f5;
    overflow-y: auto;

    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
}

/* Chrome, Edge, Safari */
.submenu__navbar::-webkit-scrollbar {
    width: 6px;
}

.submenu__navbar::-webkit-scrollbar-track {
    background: transparent;
}

.submenu__navbar::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: none;
}

/* Remove as setas do topo e base do scroll */
.submenu__navbar::-webkit-scrollbar-button {
    display: none;
    height: 0;
}

.list__nav__submenu {
    display: flex;
    flex-direction: column;

    gap: 14px;

    font-family: Nunito Suns;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
}
.list__nav__submenu li {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.list__nav__submenu li:hover {
    color: #005cff;
}
.list__nav__submenu .icon__arrow__navbar {
    display: inline-block;
    width: 9px;
    height: 9px;
    background-image: url('/src/assets/icons/arrow__navbar.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.list__nav__submenu li:hover .icon__arrow__navbar {
    background-image: url('/src/assets/icons/arrow__navbar__blue.svg');
}
.div__categorie__submenu{
    display: flex;
    align-items: start;
    justify-content: flex-start;

    width: 100%;
    height: auto;

    gap: 127px;
}
.touggle_relative_menu_departament {
    position: absolute;
    z-index: 1000;
}

