.header__contaiener{
    padding: 0 16px;
}
.header__contaiener__mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 132px;

    background-color: #ffff;

    padding: 0 16px;
    gap: 27px;
}
.sub__header__mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: auto;
}
.container__box__menu__mobile {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    z-index: 999;
    height: 100%;
    width: 80%;
    overflow-y: auto;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out; 
}
.open {
    transform: translateX(0);
}

.btn__close {
    all: unset;
    position: absolute;
    right: 18px;
    top: 18px;
    z-index: 1000;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    text-decoration: underline;

    color: white;
    background-color: transparent;
}
.container__box__header {
    display: flex;
    align-items: flex-end;
    background-color: #005cff;
    height: 150px;

    padding: 1.5rem;
}
.container__search__header_mobile {
    position: relative;

    width: 100%;
    height: auto;
}
.container__search__header_mobile input {
    width: 100%;
    height: 40px;

    padding-left: 19px;
}

.inpu__config__default__header {
    border: 1px solid #dddd;
    border-radius: 10px;
    outline: none;
}

.inpu__config__default__header:focus {
    border-color: #005cff;
    outline: none;
}
.inpu__config__default__header::placeholder{
    font-family: Nunito Sans;
    font-weight: 600;
    font-size: 14px;
    color: black;
}
.search__icon__mobile {
    position: absolute;

    width: 18px;
    height: 18px;

    right: 16px;
    top: 10px;
}

.section__nav {
    display: none;
}


.section__seach {
    display: none;
}
.container__search__header{
    position: relative;
}
.input__search__header {
    width: 594px;
    height: 40px;

    padding: 0 0 0 22px;
}
.search__icon {
    position: absolute;
    width: 18px;
    height: 18px;
    right: 12px;
    top: 25%;
}

.container__client__header{
    display: flex;
    align-items: center;

    gap: 24px;
}
.container__welcome__client{
    display: flex;
    align-items: center;

    gap: 8px;
}
.container__shopping__car{
    position: relative;
    display: flex;

    cursor: pointer;
}
.shopping__car__icon {
    width: 24px;
    height: 24px;
}
.cart__badge {
    position: absolute;
    right: -12px;
    top: -8px;

    display: flex;
    align-items: center;
    width: 21px;
    justify-content: center;
    
    height: 21px;

    background-color: #005cff;
    color: #ffff;

    font-size: 12px;
    font-family: Nunito;
    font-weight: 700;

    border-radius: 50%;
}

/* css da navbar do menu */

.section__navbar__menu.active {
    display: flex;
    opacity: 1;
    visibility: visible;
}

.submenu__navbar {
    width: 234px;
    height: 329px;
    padding: 17px;

    background-color: #f5f5f5;
    overflow-y: auto;

    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
}

/* Chrome, Edge, Safari */
.submenu__navbar::-webkit-scrollbar {
    width: 6px;
}

.submenu__navbar::-webkit-scrollbar-track {
    background: transparent;
}

.submenu__navbar::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: none;
}

/* Remove as setas do topo e base do scroll */
.submenu__navbar::-webkit-scrollbar-button {
    display: none;
    height: 0;
}

.list__nav__submenu {
    display: flex;
    flex-direction: column;

    gap: 14px;

    font-family: Nunito Suns;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
}
.list__nav__submenu li {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.list__nav__submenu li:hover {
    color: #005cff;
}
.list__nav__submenu .icon__arrow__navbar {
    display: inline-block;
    width: 9px;
    height: 9px;
    background-image: url('/src/assets/icons/arrow__navbar.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.list__nav__submenu li:hover .icon__arrow__navbar {
    background-image: url('/src/assets/icons/arrow__navbar__blue.svg');
}
.div__categorie__submenu{
    display: flex;
    align-items: start;
    justify-content: flex-start;

    width: 100%;
    height: auto;

    gap: 127px;
}
.touggle_relative_menu_departament {
    z-index: 1000;
    width: 1261px;
}


/* estilo do modal */
.overlay__modal__search {
    display: none;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0, 0, 0, 0.829);
    z-index: 998;
}
.overlay__modal__search--mobile {
    position: relative;
    display: none;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: transparent;
    z-index: 998;
}

.container__search__modal {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    z-index: 999;
    max-height: 400px;
    overflow-y: auto;
    padding: 1rem;
}
.container__search__modal--mobile{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    z-index: 999;
    max-height: 400px;
    overflow-y: auto;
    padding: 1rem;
}

.container__search__modal ul  {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container__search__modal--mobile ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container__search__modal li {
    padding: 0.5rem 0;
    border-bottom: 1px solid #eee;
}
.container__search__modal--mobile li{
    padding: 0.5rem 0;
    border-bottom: 1px solid #eee;
}