.section__submenu__select {
    position: absolute;
    top: 15.48%;
    right: 16.5%;

    display: flex;
    justify-content: space-between;

    width: 1027px;
    max-width: 1027px;
    max-height: 329px;


    padding: 18px 24px 11px 34px;

    background-color: #ffff;

    z-index: 1500;
}

.section__submenu__select ul {
    display: flex;
    flex-direction: column;


    gap: 14px;
}

.section__image__infor span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 236px;
    height: 298px;
    background-image: url('/src/assets/image__menubar.svg');
    background-size: contain;
    background-repeat: no-repeat;

    padding: 43px 81px 47px 27px;

    font-family: Nunito Sans;
    color: #ffff;
}
.section__image__infor span h1 {
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
}

.section__image__infor span button {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 116px;
    height: 38px;

    border: 1px solid #ffff;
    border-radius: 8px;

    background-color: transparent;

    color: #ffff;

    cursor: pointer;
}
.section__image__infor span button:hover {
    background-color: #ffffff0f;
}