.container__hero__bunner__center{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: auto;

    background-color: #dedede;

    padding: 28px 21px;

    margin-bottom: 56px;
}
.container__infor__product__hero__bunner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: auto;

    gap: 49px;
}
.infor__products__hero__bunner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 21px;

    width: 100%;
    height: 100%;

    font-family: Nunito;
    font-weight: 140%;
    color: #4f4f4f;
}
.infor__products__hero__bunner h1 {
    font-weight: 700;
    font-size: 20px;
}
.infor__location__bunner__center{
    display: flex;
    align-items: center;

    gap: 20px;

    font-size: 12px;
    font-weight: 400;

}
.infor__location__bunner__center img {
    width: 60px;
    height: 60px;
}
.image__products__hero__bunner {
    width: 100%;
    height: 349px;

    background-image: url('/src/assets/bunner__center.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}