.container__featured__products{
    display: flex;
    
    max-width: 1177px;
    height: 747px;

    gap: 37.5px;
}
.container__description__product {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 525px;
    height: 100%;

    gap: 22px;
}